<!DOCTYPE html>
<html ng-app="cardStatusApp">
<head>
	<meta charset="UTF-8">
	<title>CardStatus</title>
	<link rel="stylesheet" href="../views/css/custom.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
	<script src="../../bower_components/angular/angular.js"></script>
</head>
<body>

<card-status></card-status>

<script src="../cardStatusApp.js"></script>
<script src="../controllers/cardStatusCtrl.js"></script>
<script src="../directives/cardStatusDirective.js"></script>

</body>
</html>

